<div class="jumbotron center">
	<h1>Welcome!</h1>
	
	<p>HTML Test: Click to go to Google <a href="http://www.google.com">here</a>.</p>
	<p>Ruby Test: Or you can click <%= link_to "HERE", "http://www.google.com", class: "btn btn-success btn-lg" %></p>
</div>